/*header
********************************/


.header{

    height: 95vh;/*95% of the view port height*/
    background-image:linear-gradient(
         to right bottom,
         rgba($color-primary-light,0.8),
         rgba($color-primary-dark,0.8)),
          url(../img/hero.jpg);
    background-size: cover;/*element covers te veiw port */
    background-position: top;
    -webkit-clip-path: polygon(0 0, 100% 0, 100% 75vh, 0 100% );
    clip-path: polygon(0 0, 100% 0, 100% 75vh, 0 100% );/*path in wich the image will stil be visible*/
    position: relative;
 
    &__text-box{
        position: absolute;
        top: 40%;
        left:50%;
        transform:translate(-50%,-50%);
        text-align:center;
    }
    
    &__logo-box{
    position: absolute;
    top:4rem;
    left:4rem;
    ;
    
    }
   &__logo{
    height:3.5rem;
    }
    &__logo:hover{
    animation:moveInRight 1s ease-out;
    }
}
